<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<%= link_to "New user", new_user_path, class: 'btn btn-primary mb-3' %>
<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
</div>


